.avatar{
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    @include flexbox(center,center);
    border-radius: 32px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    &--blues{
        background-color: $bgr-blues;
        color: $text-white;
    }
    &--green{
        background-color: #95BF47;
        color: $text-white;
    }
    & svg {
        path{
          fill: currentColor; 
        }
    }
    &__drop-down{
        position: absolute;
        content: '';
        top: 100%;
        right: 0%;
        width: 150px;
        overflow: hidden;
        background-color: $bgr-white;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.25s ease-in;
    }
    &:hover &__drop-down{
        opacity: 1;
        transform: translateY(0px);
    }
    &__drop-item{
        text-transform: capitalize;
        cursor: pointer;
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
        color: $text-gray;
        font-weight: 600;
        transition: all 0.25s ease;
    }
    &__drop-item:hover{
        color: $text-blues;
    }
}