body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $text-black;
}

/* # custom scroll # */

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* # custom scroll # */

// img{
//     max-width: 100%;
// }

a{
    color: $text-blues;
    cursor: pointer;
}

.wrapper{
    max-width: $width;
    margin: 0 auto;
    background-color: $bgr-white-medium;
}


.container{
    width: 100%;
}

.router-link-exact-active{
    color: $text-blues
}


/* class can reuse everywhere  */

.flex-center-between{
    @include flexbox(center,space-between); 
}

.flex-center-gap-5px{
    @include flexbox(center,flex-start,5px); 
}

.text-strong{
    font-weight: 600;
}
.text-doc-1{
    @include dotText(1);
}

.text-doc-2{
    @include dotText();
}

.mb-20px{
    margin-bottom: 20px;
}

.border-radius-4px{
    border-radius: 4px !important;
}

.mb-15px{
    margin-bottom: 15px;
}
.ml-15px{
    margin-left: 15px;
}