.layout-default {
  @include flexbox();
  &__aside {
    width: 16%;
  border-right: 1px solid #E2E2E2;
    height: $height;
  }
  &__main {
    flex: 1;
  }
  &__logo {
    width: 100%;
    padding-top: 13px;
    padding-left: 15px;
  }
  &__navbar {
    width: 100%;
    flex: 1;
    margin-top: 30px;
  }
  &__navbar-item {
    @include flexbox(center);
    cursor: pointer;
    gap: 12px;
    padding: 10px 12px;
    color: $text-gray;
    & svg {
      path {
        fill: currentColor;
      }
    }
  }
  &__navbar-item.active {
    position: relative;
    color: $text-blues;
    background-color: #ebf1ff;
  }
  &__navbar-item.active::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    background-color: $bgr-blues;
  }
  &__navbar-bottom{
    width: 100%;
    margin-bottom: 15px;
  }
  &__navbar-item-service{
    color: $text-gray;
    & svg {
      path {
        fill: currentColor;
      }
    }
  }
  &__navbar-item-service.active{
    color: $text-blues;
  }
  // main
  &__header {
    background-color: $bgr-white;
    padding: 13px 20px;
  }
  &__avatars {
    @include flexbox();
  }
  &__avatar-drop {
    @include flexbox(center);
    gap: 9px;
    padding-right: 18px;
    border-right: 1px solid #f3f3f3;
  }

  &__body {
    padding: 30px 55px;
  }
  &__top {
    margin-bottom: 25px;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
  }
  &__list-action {
    @include flexbox();
    gap: 15px;
  }
  &__list-action-search {
    width: 494px;
  }
  &__list-action-select {
    @include flexbox();
  }

  &__table {
    margin: 26px 0;
    border: 1px solid #e5e8ef;
    border-radius: 3px;
  }
}
