$bgr-blues: #5B86E5;
$bgr-green: #35B26F;
$bgr-white: #FFFFFF;
// $bgr-white-dark: #E9E9EC;
$bgr-white-medium:  #F5F5F5;
// $bgr-purple: #7B61FF;
$bgr-gray-light: #CECECE;
$bgr-gray: #768188;
// $bgr-gray-medium: #828292;
// $text-black-light: #3F3F49;
// $text-black-dark: #111111;
$text-black: #252627;
$text-black-medium: #000000;
$text-black-light: #4F4F4F;
$text-white: #FFFFFF;
$text-red: #F2545D;
$text-red-light: #FFE5E6;
$text-green: #35B26F;
$text-green-light: #C2F2D8;
$text-blues: #5B86E5;
$text-gray: #828282;
$text-gray-light: #768188;


$width: 1440px;
$height: 900px;